<div data-bind="foreach: links">
    <a href="#" data-bind="click: $data.execute.bind($data), text: $data.title" class="wow fadeInUp animated" data-wow-delay=".1s" style="text-transform: capitalize;"></a>
</div>
